@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
}
:root{
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
  background: #252836;
}

.navbar{
  background: #252836;
}
.icon-color{
  color: #EA7C69;
}

@media (min-width: 992px){

  body{
    overflow: auto !important;
  }
  .offcanvas-backdrop::before{
  display: none;
  }
  .sidebar-nav{
    transform:none;
    visibility: visible !important;
    top:var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
  }
  main {
    margin-left: var(--offcanvas-width);
  }
}
.card {
border-radius: 0px;
}

.custom-container{
  min-width: 1062px;
}
.biz{
  color: white;
}
.form-control{
  border-radius: 10px;
  border: 0px;
}
.btn{
  border-radius: 0px;
  border: 0px;
  height: 39px;
}
